* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	padding: 10rem;
	display: flex;
	gap: 5rem;
	height: 100vh;
}

#information-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

#enter-phrase-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: fit-content;
}

#start-algorithm-btn {
	font-weight: bold;
	padding: 1rem;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	background-color: rgb(0, 184, 0);
	color: white;
}

#stop-algorithm-btn {
	font-weight: bold;
	padding: 1rem;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	background-color: rgb(184, 0, 0);
	color: white;
}

#target-phrase-input {
	padding: 0.8rem 1.2rem 0.8rem 1.2rem;
	font-size: 3rem;
	border: 1px solid black;
}

#genetic-algorithm-information {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-weight: bold;
	font-size: 3rem;
}

#population-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#population-container {
	height: 90%;
	overflow-y: scroll;
	font-size: 1.6rem;
}
